<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.roundtable.nepal" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="app.roundtable.nepal.activity.activity.FirstActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.SubmitPhotosActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.AddNewEventActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.AddNewMeetingActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.AddNewNewsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.EventDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.MeetingDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.RequestAccessactivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.activity.LoginActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.TableMembersListActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.AimsAndObjectiveActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.ContactDetailsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.ConveyersActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.RTNSongsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.SearchMembersActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="app.roundtable.nepal.activity.activity.ProfileViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.activity.HomeActivity"
            >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
